@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

body,html {
    margin: 0;
    padding: 0;
}
* {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

.row {
    display: flex;
    justify-content: center;
}

.column {
    flex: 50%;
    vertical-align: center;
    height: -webkit-fill-available;
    margin: 10px;
    max-width: 40%;
}

.socials {
    display: flex;
    align-items: center;
}

#social {
    font-size: 30px;
}

#special {
    cursor:pointer;
}

#inner {
    padding-left: 5px;
}

#highlighted {
    color: #30D5C8
}

#emphasized {
    color: #FF5A5F;
}

a#emphasized{
    text-decoration: none;
    color: #89A1EF;
}

#centered {
    margin-bottom: 0px;
    text-align:center;
}

#darkmode {
    color: white;
    background-color: #272727;
}
