@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

body,html {
    margin: 0;
    padding: 0;
}
* {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

.row {
    display: flex;
    justify-content: center;
}

.column {
    flex: 50%;
    vertical-align: center;
    height: -webkit-fill-available;
    margin-left: 10px;
    max-width: 40%;
}

.sha {
    width: fit-content;
    margin: 0%;
    padding: 2px 4px 2px 4px;
    border-radius: 4px;
    background-color: #40444b;
    font-family: source-code-pro, monospace !important;
    margin-top: 2px;
    color: white;
    font-variant-numeric: slashed-zero;
}

.sha a {
    color: white;
}

#info {
    margin-bottom: 10px;
}

#sha-container {
    width: fit-content;
    display: inline-grid;
}

#info {
    display: inline-block;
}

#socials {
    display: flex;
    align-items: center;
}

#social {
    font-size: 30px;
}

#special {
    cursor:pointer;
}

#info p {
    display: inline;
    font-family: source-code-pro, monospace !important;
    font-variant-numeric: slashed-zero;
    margin: 0%;
}

#title {
    margin-bottom: 10px;
}

#title h1 {
    margin: 0px;
}

#inner {
    padding-left: 5px;
}

#highlighted {
    color: #30D5C8
}

#emphasized {
    color: #FF5A5F;
}

a#emphasized{
    text-decoration: none;
    color: #89A1EF;
}

#darkmode {
    color: white;
    background-color: #272727;
}


@media screen and (max-width: 800px) {
    .row {
        flex-direction: column;
        align-items: center;
    }
    
    .row hr {
        width: 100px;
    }

    #info {
        display: none;
    }

    .box {
        height: auto;
    }

    .column {
        margin-left: 0px !important;
        max-width: 90%;
    }

    #socials {
        justify-content: center;
    }

    #title {
        padding-top: 10px;
        margin-bottom: 0px;
    }
}